@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,600,700,800');

body {
  height: 100%;
  background: #6de3e3;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
#city_name {
    margin-top: 35px;
    font-weight: 700;
    grid-column: 2;
    font-size: 39px;
    color: #023b3b;
}

.container {
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    width: 500px;
    background: #e3e3e3;
    border-radius: 20px; 
    
}

.text{
  font-family: 'Space Mono', Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

#weathericon,
.title{
  grid-column: 1/4;
  margin: 0 auto;
  text-align: center;
  background: #e3e3e3;
  border-radius: 4px;
  padding: 15px 100px;
}
#description {
    grid-column: 2;
    text-align: center;
    text-transform: uppercase;
}
.important-info{ 
  grid-column: 1;
}

.block-1 {
  grid-column: 1;
  padding: 10px;
}
.block-2{
  grid-column: 2;
  padding: 10px;
}
.block-3{
  grid-column: 3;
  padding: 10px;
}

.weatherInfo {
  height: 100%;
}

#temp {
    grid-column: 2;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 65px;
  color: #C95E67;
  font-weight: 600;
}
#input {
    margin-left: 35%;
    width: 350px;
    background: #f5c9c9;
    border-radius: 5px; 
}
